.resources, .header {
  display: flex;
}
.header {
  height: 3rem;

  box-shadow: 0px 6px 11px -7px rgba(0,0,0,0.75);
  align-items: center;
}

.header > div {
  margin-left: 1rem;

}

mat-expansion-panel {
  margin: 1rem 1rem;
}



.resources > div {
  margin: 0 .3rem;
}

.resources > div:first-child {
  margin-left: 0;
}

mat-icon {
  transition-duration: .3s;
}










