<div class="container">
  <mat-accordion *ngFor="let node of nodeList" >
    <mat-expansion-panel disabled="true" hideToggle
                         (opened)="node.isExpanded = true"
                         (closed)="node.isExpanded = false"
                         #mep="matExpansionPanel">
      <mat-expansion-panel-header [collapsedHeight]="'10rem'">
        <div>
          <div class="mat-header-cell">{{node.roomId}}</div>
          {{node.name}}
        </div>
        <div class="actions">
          <button mat-icon-button>
            <mat-icon [ngStyle]="{'transform': node.isExpanded ? 'rotate(180deg)' : 'rotate(0deg)'}" (click)="mep.expanded = !mep.expanded">expand_more</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>



      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
