<mat-drawer-container  color="#ff6ff" hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <div class="header mat-h3">
      <div>New nodes</div>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon fontSet="material-icons-outlined">navigate_before</mat-icon>
      </button>
    </div>
    <app-unregistered></app-unregistered>
  </mat-drawer>
  <mat-drawer-content>




    <div id="content">

      <div id="siteHeader">
        <img src="../../../assets/svg/OpenHomoSens_Logo_Full.svg">

        <div id="buttonGroup">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon fontSet="material-icons-outlined">add</mat-icon>
          </button>
          <button mat-icon-button *ngIf="view === 'map'" (click)="view = 'list'">
            <mat-icon fontSet="material-icons-outlined">format_list_bulleted</mat-icon>
          </button>
          <button mat-icon-button *ngIf="view ==='list'" (click)="view = 'map'">
            <mat-icon fontSet="material-icons-outlined">explore</mat-icon>
          </button>
        </div>
      </div>
      <div id="main">
        <app-node-map *ngIf="view === 'map'"></app-node-map>
        <app-node-list *ngIf="view ==='list'"></app-node-list>

      </div>
    </div>

    <app-gauge-panel></app-gauge-panel>
  </mat-drawer-content>
</mat-drawer-container>
