<mat-drawer-container  color="#ff6ff" hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <app-unregistered></app-unregistered>
  </mat-drawer>
  <mat-drawer-content>
    <div><button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button></div>

    <mat-accordion *ngFor="let node of nodeList">
      <mat-expansion-panel disabled="true" hideToggle
                           (opened)="node.isExpanded = true"
                           (closed)="node.isExpanded = false"
                           #mep="matExpansionPanel">
        <mat-expansion-panel-header>
          <div>
            <div class="mat-header-cell">Name</div>
            {{node.name}}
          </div>
          <div>
            <div class="mat-header-cell">Data</div>
            <div class="resources" *ngIf="node.resources">
              <div *ngFor="let resource of node.resources">
                <div *ngIf="resource.type == resourceTypes.TEMP">{{resource.value}}°C</div>
                <div *ngIf="resource.type == resourceTypes.HUMID">{{resource.value}}%</div>
                <div *ngIf="resource.type == resourceTypes.PRESSURE">{{resource.value}} hPa</div>
              </div>
            </div>
          </div>

          <div class="actions">
            <button mat-icon-button>
              <mat-icon [ngStyle]="{'transform': node.isExpanded ? 'rotate(180deg)' : 'rotate(0deg)'}" (click)="mep.expanded = !mep.expanded">expand_more</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteNode(node.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>



        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer-content>
</mat-drawer-container>
