/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
  font-size: 16px;
  font-family: Roboto, Helvetica, sans-serif;
  color: #FFFFFA;

  padding: 0;
  margin: 0;

  height: 100vh;
  width: 100%;
}

.mat-drawer-shown {
  background-color: rgba(1,1,1,0.0)!important;
}

app-unregistered mat-expansion-panel-header > span {
  justify-content: space-between;
}

app-home .mat-expansion-panel-header[aria-disabled=true],
app-unregistered .mat-expansion-panel-header[aria-disabled=true] {
  color: rgba(0, 0, 0, 1);
}

app-unregistered .mat-accordion>.mat-expansion-panel-spacing:last-child {
  margin-bottom: 1rem;
}

app-home svg text {
  font-size: 1.3rem;
  word-break: break-all;
}
